<link rel="stylesheet" href="/css/forget_password.css">



<div class="outercontainer">




    <div class="container">
       
    
        <div class="inner-right-container">
            <div  class="inner-right-container-heading">
                <h1> Reset Password</h1>  
                
              </div>

            <div class="inside-inner-right-container-form">
                <form action="/users/reset-password" method="post">
                    <input type="text" name="email" placeholder="Email Address " required>
                    <input type="text" name="password" placeholder=" New Password " required>
                    <button type="submit">reset</button>

                </form>

            </div>

            
        </div>
    </div>


</div>