<link rel="stylesheet" href="/css/signin.css">



<div class="outercontainer">




    <div class="container">
        <div class="inner-left-container">

            <div class="btn">

                <a href="/users/auth/google"> <button id="btn1"> Login with Google </button></a>

            </div>
            
            <div class="btn">

               <a href="/users/auth/facebook"> <button id="btn2" > Login with Facebook </button></a>

            </div>

        </div>

        <div class="inner-right-container">

            <div class="inside-inner-right-container-form">
                <form action="/users/createsession" method="post">
                    <input type="text" name="email" placeholder="Email Address " required>
                    <input type="text" name="password" placeholder="Password " required>
                    <button type="submit">Login </button>

                </form>

            </div>

            <div class="inside-inner-right-container">

                <p> new user ? <a href="/users/signup">create account</a></p>
                <p><a href="/users/reset-password-page">forget password</a></p>

            </div>
        </div>
    </div>


</div>