
body
{
    width: 100vw;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.outercontainer
{

    width: 65%;
    height: 70%;
    background-color:#6549bf;
    display: flex;
    justify-content: center;
    align-items: center;

 
}

.container
{
    
    width: 95%;
    height: 85%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1%;
    gap: .5%;
}



.inner-right-container
{
    width: 60%;
    height: 90%;
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 10px;
    box-sizing: border-box;
    border: 2px solid black;
  
}


.inner-right-container-heading
{
    width: 80%;
    height: 40%;
    text-align: center;
    
}

.inside-inner-right-container-form
{
    width: 80%;
    height: 60%;
    /* background-color: #ea4335; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}





form
{ 
    width: 100%;
    height: 100%;
 
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    justify-content:flex-start;
    align-items: center;
   
} 



form input
{
    width: 95%;
    height: 40px;
    /* background-color: aqua; */
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid grey;
}

form button
{
    width: 50%;
    height: 30px;
    box-sizing: border-box;

}

