body
{
    display: flex;
    justify-content: center;

    width: 100vw;
    height: 100vh;
     

}

.container
{
   
    width:100vw ;
    height: 40%; 
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color:rgb(43, 226, 202); */
    box-sizing: border-box;


  
}

.inner-container
{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   

}

.inner-container a
{
    text-decoration: none;
    color: black;
    max-width: 25vw;
}

button
{
     width: 100%;
     height: 100%;
     background-color: #ff0000;
    font-weight: 600;
    color: white;
}


@media screen and (min-width:320px){
        .container
        {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
         
        .inner-container
        {
            width: 100%;
            display: flex;
            
            justify-content: center;
            
        }

        .inner-container h2
        {
         font-size: 1rem;
        }
      
        .inner-container a button
        {
            width: 5rem;
        }
        
    
}




